**node_modules
**package-lock.json
**.DS_Store

dist/
.apps-cache/

# Plugin symlinks
vite-plugins/restapi-plugin.ts
vite-plugins/weather-plugin.ts
vite-plugins/browser-plugin.ts
vite-plugins/kitchen-plugin.ts

